      PID    PPID    PGID     WINPID   TTY         UID    STIME COMMAND
      836     793     836      26444  cons0     197609 00:55:14 /usr/bin/PS
      793       1     793      20500  cons0     197609 00:55:09 /usr/bin/bash
